body {
    padding-top: 20px;
    padding-bottom: 20px;
}

.header {
    border-bottom: 1px solid #e5e5e5;
    
    h3 {
        padding-bottom: 19px;
        margin-top: 0;
        margin-bottom: 0;
        line-height: 30px;
        font-family: sans-serif
    }
}

.todo-table {
    margin-top: 20px;
}

#error {
    color: #FF0000;
    margin-bottom: 20px;
    padding: 15px;
    background-color: #F2BFBF;
    border: 1px solid #FF0000;
}


@media (min-width: 768px) {
    .container {
        max-width: 730px;
    }
}